@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1826 Michigan Avenue<br />
    Detroit, Mi <br />
    <abbr title="Phone">P:</abbr>
    313.778.0550
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">justindlangley@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">justindlangley@gmail.com</a>
</address>